@import"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

*{
    font-family:"Roboto",sans-serif;
}
.red-project-color{
    color: #2ea3f1;
}
.scale-2{
    transform: scale(2);
}
.red-project-bgbcolor{
    background-color: #2ea3f1;
}
.fs-7{
    font-size: 0.7rem;
}
.fs-6-5{
    font-size: 0.9rem;
}
.btn-hover{
    transition: all 0.5s;
    &:hover{
        opacity: 0.5;
    }
}
.nav-link-hover{
    border-bottom:2px solid #dd314200 !important;
    &:hover{
        border-bottom:2px solid #2ea3f1 !important;
    }

   
}

.welcome-company-card-wrapper{
    background-color: rgba(255, 255, 255, 0.719);
    box-sizing: 10px 10px 5px black;
}

.icon-wrapper{
  /*  min-height: 100%;
    width: 100%;
   border-radius: 50%;
   background-color: #f37d89;
   position: relative;
   .content-icon{
    position: relative;
    z-index: 5;
   }
   &::after{
    content: "";
    width: 90%;
    height: 90%;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    z-index: 0;

 }


    animation: icon-ani 1s infinite ease;
    @keyframes icon-ani {
        1%{
            background-color: #f37d89;
        }
        50%{
            background-color:#DD3142;
        }
        100%{
            background-color: #f37d89;
        
        
    }


    }
   */
}


.footer-start-icons-wrapper{

    filter: brightness(0) saturate(100%) invert(51%) sepia(87%) saturate(1861%) hue-rotate(179deg) brightness(101%) contrast(89%);

}

form{
    input{
        border: none;
        border-radius:30px;
        border: 1px solid darkgray;
        background-color:rgba(240, 248, 255, 0);
        color: white;
        &:focus{
            outline: none;

        }
    }
    input[type="submit"]{
        transition: all 0.3s;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}

.banner-start-item-btn-wrapper{
    @media (max-width:768px) {
        position: fixed;
        bottom: 4%;
        left:50%;
        transform: translateX(-50%);
        z-index: 100;
        
    }
}

.banner-btn-text{
    color: red;
    animation:banner-text 1s infinite ease;
    @keyframes banner-text {
        1%{
            opacity: 1;
        }
        50%{
          opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
}